<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>hello {{ userName }}</h1>
        <input type="text" v-model="userName">
        <input type="text" v-model="userName">
        <p v-if="userName.klength > 9">user name length is to long!!!</p>
        <button @click="addItem">addItem</button>
        <button @click="popItem">removeItem</button>
        <p>{{ frameworks }}</p>
        <ul>
            <li v-for="todo in todos">
                {{ framework }}
            </li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
               userName: "scalper",
               frameworks: ['react', 'vue', 'angular'],
               todos: []
            },
            methods: {
                addItem(){
                    console.log(this.userName)
                    this.frameworks.push(this.userName)
                },
                popItem(){
                    this.frameworks.pop();
                }
            }
        });
    </script>
</body>

</html>